* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $color-background;
  color: $color-text;
  font-size: $font-size;
  font-family: $font-merienda;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  margin-top: 2rem;
}

.text_h1 {
  padding: 2rem 0;
}

.text_h3 {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  color: $color-primary;
}

.text_p {
  display: flex;
  justify-content: center;
}
