.main_photo {
  margin-top: 2rem;
  position: relative;
  width: auto;

  .color_photo {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  .monochromatic_photo {
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 1s ease-in-out 0s;

    &:hover  {
      opacity: 0;
    }

  }

}

.app-bar {
  padding: 4rem 0 0 1.2rem;

  @media (min-width: $screen-xs) {
    padding: 6rem 0 0 0;
  }

  .MuiTypography-body1 {
    font-family: $font-merienda;
  }

  .MuiRadio-colorSecondary.Mui-checked {
    color: $color-primary;
  }

}

.text_h1 {
  padding: 1rem 0;
  text-align: center;

  @media (min-width: $screen-xs) {
    text-align: left;
    padding: 2rem 0;
  }

}

.text_h3 {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  color: $color-primary;
  text-align: center;
}

.text_p {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.7rem;
}

.btn {
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  transition: $transition-primary;
  width: 130px;
  background-color: $color-primary;
  color: $color-text;
  font-family: $font-merienda;

    &:hover {
      background-color: darken($color-primary, 10%);
    }

}

.list {
  list-style-type: none;
  padding: 1rem 0;
  text-align: center;
  border-bottom: dotted 2px $color-secondary;

  .btn {
    margin-left: 2rem;
    margin-top: 1rem;
  }

}

.errors {
  color: $color-primary;
  list-style-type: none;
  text-align: center;
}

.errors_information {
  li:last-child {
    padding-bottom: 1rem;
  }

}

.practical_information {
  padding-left: 2rem;
}




