.footer {
  font-size: $font-size;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  flex-direction: column;
  width: 100%;
  left: 0;
  text-align: center;

  a {
    color: $color-text;
  }

  .icon_media {
    font-size: 3rem;
    padding-right: 1rem;
    transition: $transition-primary;

    &:hover {
      color: $color-primary;
    }

  }

  :last-child p {
    font-size: 0.75rem;
    color: $color-secondary;
    padding-top: 1rem;
  }

}