.header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  justify-content: space-between;

  .logo {
    font-size: 1.5rem;
  }

  ul {
    //display: none;
    list-style-type: none;

    li {
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      margin-left: 1rem;

      .decor {
        text-decoration: none;
        color: $color-text;

        &:hover {
          background-color: $color-text;
          border-radius: $border-radius;
          color: $color-background;
          padding: 0.25rem 0.5rem;
          transition: $transition-primary;
        }

        &.active {
          background-color: $color-text;
          border-radius: $border-radius;
          color: $color-background;
          padding: 0.25rem 0.5rem;
        }

      }

    }

  }

}