.header {
  padding: 1rem 0;
  left: 0;
  width: 100%;
  display: none;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .logo {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
    margin-top: 2rem;

    @media (min-width: $screen-xs) {
      margin-top: 0;
    }

    a {
      color: $color-text;
      text-decoration: none;

      &:hover {
        color: $color-primary;
        cursor: pointer;
        transition: $transition-primary;
      }

    }

  }

  .menu {
    display: none;
  }

  ul {
    display: none;
    list-style-type: none;

    li {
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      margin-left: 1rem;

      .decor {
        text-decoration: none;
        color: $color-text;
        padding: 0.25rem 0.5rem;

        &:hover {
          background-color: $color-text;
          border-radius: $border-radius;
          color: $color-background;
          transition: $transition-primary;
        }

        &.active {
          background-color: $color-text;
          border-radius: $border-radius;
          color: $color-primary;
        }

      }

    }

  }

  @media (min-width: $screen-xs) {
    background-color: $color-background;
    z-index: 1;
    top: 0;
    width: 100%;
    position: fixed;
    display: block;

    .wrapper {
      justify-content: space-between;
    }

    //padding: 2rem 0;
    //position: -webkit-sticky;
    //position: sticky;
    //top: 0;

    .menu, ul {
      display: block;
    }

  }

}