.header {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;

  .logo {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
  }

  .menu {
    display: none;
  }

  ul {
    display: none;
    list-style-type: none;

    li {
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      margin-left: 1rem;

      .decor {
        text-decoration: none;
        color: $color-text;
        padding: 0.25rem 0.5rem;

        &:hover {
          background-color: $color-text;
          border-radius: $border-radius;
          color: $color-background;
          transition: $transition-primary;
        }

        &.active {
          background-color: $color-text;
          border-radius: $border-radius;
          color: $color-background;
        }

      }

    }

  }

  @media (min-width: $screen-xs) {
    justify-content: space-between;

    .menu, ul {
      display: block;
    }

  }

}